* {
    margin-top: 2vh;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
}

.margin-top{
    margin-top: 15vh;
}

