

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
}

.center-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.margin-top{
    margin-top: 15vh;
}

.debug-diss {
    display: none;
}

.input-width {
    size: 20vw;
}
